    .navbar-brand {
          font-size: 300%; /* Imposta la dimensione del font per "Galleria" */
          margin-right: 50px; /* Aggiungi spazio a destra per spostare la parola */
          
    }
      
    .nav-link {
        
        display: inline-block;
        margin-right: 50  px; 
        font-size: 180%;

    }

     

    $sfondo-rosso: rgb(241, 191, 241); // Colore rosso
    .navbar {
     background-color: adjust-color($sfondo-rosso, $lightness: -15%);
   
    }

      


  