<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container ">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <a class="navbar-brand" routerLink="home">Galleria</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" [routerLinkActive]="'active bg-pill'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" [routerLinkActive]="'active bg-pill'">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/areaPrivata" [routerLinkActive]="'active bg-pill'">Area personale</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
