body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(139, 192, 246);/* Aggiungi l'URL della tua immagine qui */
  //-image: url('https://i.pinimg.com/564x/61/82/53/6182533c7b8ef9d9ce2d5ba5326a4d72.jpg'); 
  background-size: cover;  /* Questo farà in modo che l'immagine copra l'intera area del body */
  
}
@font-face {
  font-family: 'Sellena Brush';
  src: url('https://www.fontspace.com/sellena-brush-font-f71257');
}

.blockquote-footer::before {
  content: "";  /* Rimuove il segno "-" */
}

.display-2 {
  font-family: 'NomeDelTuoFont';
}


.blockquote-footer {
  color: rgb(245, 238, 238);  /* Rende il testo più chiaro */
  height: 500%;
}
.blockquote {
  transform: translateY(-70%);  /* Sposta il blocco di citazione verso l'alto */
}

