<div class="centered-form">
    <h1 class="d-flex justify-content-center"><strong>{{isRegister ? 'Registrati' : 'Accedi'}}</strong></h1>
    <form [formGroup]="formgroup">
        <div class="form-group col-lg-6 mx-auto" *ngIf="isRegister">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="username" id="username"
                placeholder="Enter username">
        </div>
        <div class="form-group col-lg-6 mx-auto">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-lg-6 mx-auto">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
        </div>
        <div class="d-flex">
            <button type=" submit" class="btn btn-primary " (click)="submit()">{{isRegister?"Registrati" :
                "Login"}}</button>
        </div>
    </form>
</div>