.d-flex {
    display: flex;
    justify-content: center; // Allinea orizzontalmente al centro
    align-items: flex-end; // Allinea verticalmente al centro in basso
    height: 10vh; // Imposta l'altezza al 100% della viewport
  }
  